
#image-container {
    height: 50rem;
    background-image: url("../images/movie-background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5rem;
}

#game-question {
    padding: 2rem 0;
}

#game-answers h4 {
    padding: 1rem 0;
}

