
#image-container {
    height: 50rem;
    background-image: url("../images/movie-background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5rem;
}
.jumbotron{
    padding:2rem;
    height: 38rem;
}
#game-instructions {
    padding: 2rem 8rem 0rem 8rem;
}
#game-question {
    padding: 2rem 0;
}


.answer-class{
    margin: 0 auto;
    text-align: center;

}
#game-answers h4 {
  
    padding: 1rem;
}

#game-answers h4:hover{
    margin: 0 auto;
    width: 70%;
    border: 2px solid #000000;
    background-color:#df9029;

}
@media only screen and (max-width: 767px) {
   
    #game-answers h4:hover{
     
        width: 100%;
        padding: 1rem 0;
        
    
    }
  }



